xgboost==2.0.3
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
shap==0.45.1
matplotlib==3.8.4

scispacy==0.5.4
spacy==3.7.4

sentence-transformers==3.0.1
chromadb==0.5.5
transformers==4.44.0
torch>=2.1.0

langchain==0.2.16

gradio==4.44.0
